.container {
    max-width: 720px;
}

summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

.table > :not(:first-child) {
    border-top: 1.5px solid var(--bs-primary);
}

th:not(:first-child),
td:not(:first-child) {
    text-align: center;
}
